.nav__links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.nav__link {
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity 0.3s ease, color 0.3s ease;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    }

.nav__link:hover {
    opacity: 0.7;
    color: #ce1919c9;
}

@media screen and (max-width: 320px) {
 .nav__links {
        flex-direction: column;
        gap: 35px;
        align-items: flex-start;
    }
}