.page {
    background-color: #0F0F0F; /* Fondo oscuro profundo */
    color: #FFFFFF;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; /* Evita desbordamiento horizontal */
    
    /* El fondo con degradados radiales usando calc() */
    background-image: 
        radial-gradient(circle at calc(50% - 400px) 200px, rgba(187, 179, 179, 0.274) 0%, transparent 40%),
        radial-gradient(circle at 50% 2000px, rgba(201, 11, 11, 0.185) 0%, transparent 40%),
        radial-gradient(circle at calc(50% + 400px) 500px, rgba(201, 11, 11, 0.158) 0%, transparent 40%);
    background-attachment: fixed; /* Mantiene las luces en su lugar al hacer scroll */
}

.page__content {
    max-width: 1440px;
    width: 100%;
    padding: 0 120px 0 120px; /* Margen interno para que el contenido no toque los bordes */    
    margin: 0 auto;
}